.profile {
  display: flex;
  width: 80%;
  margin: 10px auto;
  align-items: center;
}

.pfp {
  width: 70px;
  height: auto;
  border: 2px solid var(--accent);
  border-radius: 70px;
  margin-right: 20px;
}

.profile h1 {
  color: var(--keyword);
}